img,
embed,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Open Sans", sans-serif;
}

p,
a,
span,
small,
label,
input {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-left {
  align-items: flex-start;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.flex-strech{
  align-self: stretch;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.text-center {
  text-align: center;
}

.small-spacer {
  margin: 8px;
}